body {
   background-color: #9EB9E6;
}

.top {
   text-align: right;
}

div.top {
   text-align: center;
   text-decoration-color: #BED1EE;
}

div.directory {
   text-align: center;
   background-color: #BED1EE;
}

div.summary {
   text-align: center;
   background-color: #BED1EE;
}

div.education {
   text-align: left;
   background-color: #BED1EE;
}

div.projects {
   text-align: left;
   background-color: #BED1EE;
}

div.interests {
   text-align: center;
   background-color: #BED1EE;
}