/* CSS Style Sheet */


/* General Tags */
body {
    background-color: #FFFFFF;
}

.content {
    padding-top: 63px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
}

.content p {
    font-family: 'Montserrat', sans-serif;
}

.content h1 {
    font-family: 'Oleo Script', cursive;
    text-align: center;
}

.content h2{
    font-family: 'Oleo Script', cursive;
    margin-left: 20px;
}

.content h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-left: 30px;
}

.content h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 40px;
}

.content ul {
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;
}

.special-CV-parts {
    margin-left: 30px;
}

.poem {
    text-align: center;
}

.about {
    font-size: 15px;
    text-indent: 45px;
}

#email {
    text-decoration: underline;
}


/* Jumbotron */
.jumbotron h1 {
    font-family: 'Oleo Script', cursive;
    text-align: center;
}

.jumbotron p {
    text-align: center;
}

.jumbotron .btn-div {
    text-align: center;
}

.jumbotron .btn {
    background-color: #404487;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
}


/* Header and Navigation Bar */
.navbar {
    background-color: #404487;
}

.navbar .my-link{
    color: #FFFFFF;
    font-family: 'Oleo Script', cursive;
    font-size: 25px;
}

.navbar ul li .my-link{
    color: #FFFFFF;
    font-family: 'Oleo Script', cursive;
}


/* Footer */
footer {
    position: fixed;
    bottom: 0;
}

.footer .bot-navbar {
    background-color: #230E08;
    padding: 10px;
    line-height: 50px;
 }

.footer .bot-navbar p {
    color: #FFFFFF;
    text-align: left;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
}
