/* CSS Style Sheet */

body {
   background-color: #081220;
}

div h1 {
   font-weight: bold;
}

div h2 {
   text-align: center;
   font-weight: bold;
}

#top {
   text-align: center;
   font-weight: bold;
   color: #FFFFFF;
}

#directory {
   text-align: center;
}

li.directory {
   display: inline;
   list-style-type: none;
}

#summary {
   text-align: center;
}
#education {
   text-align: left;
}

#projects {
   text-align: left;
}

#interests {
   text-align: center;
}

div.well-lg {
   background-color: #DFE8F7;
}
